* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* header styles */
.header {
  height: 380px;
  display: block;
  text-align: right;
  padding: 150px 100px;
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.banner {
  float: right;
}
.banner .title {
  margin-bottom: 25px;
  max-width: 525px;
  max-height: 225px;
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}
.banner .description {
  margin-bottom: 35px;
  max-width: 500px;
  max-height: 80px;
  color: #444343;
}
.btn-primary {
  width: 160px;
  height: 65px;
  border: none;
  padding: 20px 25px;
  background: #f15b22;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
/* previous year section styles */
.previous-year {
  margin: 150px 200px;
  display: flex;
  align-items: center;
}
.previous-year .section-header {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 25px;
  max-width: 285px;
}
.previous-year .section-description {
  color: #444343;
  margin-bottom: 15px;
  max-width: 415px;
}
.section-points {
  color: #444343;
}
.section-points li {
  list-style: url(../images/icons/tick.png);
  margin-bottom: 10px;
}
/* year plan section styles */
.future-plan {
  text-align: center;
}
.year-paln-container {
  display: flex;
  gap: 85px;
  margin: 50px 230px 130px;
}
.future-plan .section-header {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.plan-title {
  font-weight: 700;
  font-size: 23px;
  color: #151414;
  margin-bottom: 15px;
}
.plan-description {
  font-weight: 500;
  font-size: 16px;
  color: #737272;
}
/* call now section styles */
.call-now {
  height: 300px;
  width: 1000px;
  margin: 50px 180px 130px;
  border-radius: 10px;
  /* background-image: linear-gradient(to right , orangered, black),url(../images/watch.png); */
  background-image: url(../images/gradient3.png), url(../images/watch.png);
  background-blend-mode: lighten;
}
.call-now .content-container {
  padding: 60px 400px 60px 65px;
}
.call-now .section-header {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 25px;
}
.btn-secondary {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
}
/* footer styles */
.footer {
  
}
.footer-container {
  display: flex;
  gap: 200px;
  padding: 130px 180px;
  background: #151414;
}
.footer .section-header {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 15px;
  color: #f8f8f8;
}
.footer p {
    margin-bottom: 25px;
  color: #ffffff;
}
.footer .description{
    max-width: 450px;
}
.Subscribe p{
    font-weight: 600;
font-size: 25px;
}
.Subscribe input[type="email"] {
    border-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #151414;
    width: 100%;
    height: 64px;
    padding-left: 30px  ;
}
::placeholder {
    color: #F3F3F3;
    font-weight: 400;
font-size: 18px;
}