* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* header styles */
.header {
  height: 380px;
  display: block;
  text-align: right;
  padding: 150px 100px;
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.banner {
  float: right;
}
.header-title {
  margin-bottom: 25px;
  max-width: 525px;
  max-height: 225px;
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}
.header-description {
  margin-bottom: 35px;
  max-width: 500px;
  max-height: 80px;
  color: #444343;
}
.btn-primary {
  width: 160px;
  height: 65px;
  border: none;
  padding: 20px 25px;
  background: #f15b22;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
/* previous year section style */
.previous-year {
  margin: 150px 200px;
  display: flex;
  align-items: center;
}
.previous-year .section-header {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 25px;
  max-width: 285px;
}
.previous-year .section-description {
  color: #444343;
  margin-bottom: 15px;
  max-width: 415px;
}
.section-points {
  color: #444343;
}
.section-points li {
  list-style: url(../images/icons/tick.png);
  margin-bottom: 10px;
}
